h2.ui.top.attached.block.header Tutanak Metni Oluştur 
.ui.segment.bottom.attached 
    .ui.message
        h4.header.ui İzlenecek Adımlar
        .ui.list 
            .item 
                .content.
                    1. Aşağıda istenen alanları tutanaktan okuyarak giriniz.
                    (kalan dökümler 10 bin tutanak toplandıktan sonra girilecektir)
            .item
                .content.
                    2. "Tweet Metni Oluştur"un.
            .item 
                .content.
                    3. Kopyalayıp yeni oluşturduğunuz (ya da mevcut olan) tweet'e yapıştırın.

    .ui.form
        .fields 
            .field 
                label İl 
                dropdown(
                    data="{{cities}}"
                    selected-key="{{record.city}}"
                    key="city"
                    name="city"
                    on-select="selectCity")                    
            .field 
                label İlçe 
                dropdown(
                    data="{{districts}}"
                    selected-key="{{record.district}}"
                    )
            .field 
                label Sandık No 
                input(value="{{record.ballot}}" type="number")
                    
    ack-button.green(on-click="createTweet") Tweet Metni Oluştur

    a(href="https://github.com/ceremcem/vote-is-well/issues")
        .ui.button.orange.icon.float.right: icon.help Sorun Bildir

    modal(title="Tweet Metni" basedon="{{mymodal1}}")
        .ui.p Aşağıdaki Tweet'i ilgili tutanağa yorum olarak yapıştırın:
        .ui.form 
            .fields 
                textarea(value="{{tweetText}}" rows="2" readonly) 
            .fields 
                btn.icon.blue(
                    on-click="copyTweet" 
                    tooltip="Tweet'i panoya kopyala")
                    icon.copy Kopyala


.spacer 
